@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
#contenedor{
    background-color: #101010;
    height: 5000px;
    width: 100%;
    top: 1336px;
}
.titulo-1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F07400;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
}
.flex-contenedor{
    display: flex;
    color: white;
    margin: 10px;
    justify-content: space-around
}
.sub-titulo-1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 18%;
}
.linea{
    position: relative;
    width: 48px;
    height: 0px;
    border: 2px solid #F3611A;
    left: 58px;
}
.flex-contenedor div img{
    position: absolute;
    margin: 0% -1%;
    width: 70px;
    height: 70px;
}
.parrafo{
    color: #b1b1b1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-left: 18%;
    width: 318px;
    height: 69px;
    margin-top: 2%;
}
.sub-titulo-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 18%;
    width: 300px;
}
.sub-titulo-3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 18%;
}
/*TRABAJOS*/
.titulo-2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}
#flex-img{
    display: flex;
    justify-content: space-around;
}
.trabajo{
    width: 445px;
    height: 600px;
    border-radius: 20px;
}
.trabajo:hover{
    position: relative;
    transform: scale(1.1);
    border: 2px solid #F3611A;
    transition: 1s;
}
.ver-mas{
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: end;
    color: white;
    cursor: pointer;
    left: -13px;
    margin-top: 20px;
}
.rectangulo{
    margin: 5% auto;
    width: 880px;
    height: 210px;
    background-color: white;
}
.laburo{
    display: flex;
    justify-content: space-around;
}
.numeros{
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    margin-top: 30%;
}
.sub-parrafo{
    margin-top: -9%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.linea-azul{
    position: relative;
    width: 48px;
    height: 0px;
    border: 2px solid #003C82;
}
.titulo-clientes{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 30px;
    text-align: center;
}
#comentarios{
    display: flex;
    justify-content: space-around;
}
.cubo{
    background: #C4C4C4;
    border-radius: 30px;
    width: 350px;
    height: 250px;
}
.comillas-1{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5% 7%;
}
.titulo-comentario{
    font-family: 'Roboto', sans-serif;
    font-weight: 400, bold;
    font-style: italic;
    color: black;
    text-align: center;
    margin-top: -10%;
}
.sub-titulo-comentario{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 5%;
}
.comillas-2{
    position: relative;
    width: 30px;
    height: 30px;
    left: 85%;
}
.linea-comentario{
    position: relative;
    width: 100px;
    border: 1px solid #000000;
    margin-left: 36%;
    margin-top: -5%;
}
.persona-comentario{
    font-family: 'Roboto', sans-serif;
    font-weight: 400, bold;
    color: black;
    text-align: center;
    margin-top: 4%;
}
.trabajo-comentario{
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    margin-top: 3%;
}